.listPage {
    display: flex;
    height: 100%;

    .listContainer{
        flex: 3;
        height: 100%;

        .wrapper {
            padding-right: 50px;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 50px;
            overflow-y: scroll;
            padding-bottom: 25px;
        }
    }

    .mapContainer{
        flex: 2;
        height: 100%;
        padding: 10px 0px;
        background-color: #fcf5f3;
    }
}